 <!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    {{ navbar|safe }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact&nbsp;
                    <small>CollabLab</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <div class="google-maps">
                    <iframe frameBorder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=CollabLab%2C%20Campus%20Drive%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyD14tuovwmdNwNYV29RIw-cU6-42c5N0cQ" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>CollabLab</h4>
                    </div>
                    <div class="panel-body">
                        <i>Northwestern University</i><br /><br />
                        <p>CollabLab<br />
                            Frances Searle Building, #2-431 <br />
                            2240 Campus Drive <br />
                            Evanston, IL 60208, USA <br /><br />
                            <strong>Email: </strong>email@northwestern.edu
                        </p>
                        <a href="#" type="button" class="btn btn-default">
                          Visit Site
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact&nbsp;
                    <small>Authors</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Darren Gergle, PhD</h4>
                    </div>
                    <div class="panel-body">
                        <i>Associate Professor</i><br /><br />
                        <p>Department of Communication Studies <br />
                            Frances Searle Building, #1-142 <br />
                            2240 Campus Drive <br />
                            Evanston, IL 60208, USA <br /><br />
                            <strong>Email: </strong>email@northwestern.edu
                        </p>
                        <a href="#" type="button" class="btn btn-default">
                          Visit Site
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Noah Liebman</h4>
                    </div>
                    <div class="panel-body">
                        <i>PhD Student</i><br /><br />
                        <p>CollabLab <br />
                            Frances Searle Building, #2-431 <br />
                            2240 Campus Drive <br />
                            Evanston, IL 60208, USA <br /><br />
                            <strong>Email: </strong>email@northwestern.edu
                        </p>
                        <a href="#" type="button" class="btn btn-default">
                          Visit Site
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ footer|safe }}
</body>
</html>