<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/js/dygraph-combined-dev.js"></script>
    <title>Similarity</title>
</head>
    <body>
    {{ navbar|safe }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data Visualization&nbsp;
                    <small>Lexical Similarity</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/visualize">Visualize Data</a></li>
                    <li><a href="graph">Generate Graphs</a></li>
                    <li class="active">Lexical Similarity</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="graphdiv" style="width: 100%"></div>
            </div>
            <div class="col-md-4">
                <div id= "annotation">
                </div>
            </div>
        </div>
    <script type="text/javascript">
        // lexical similarity to generate the graph
        var data = {{ data|safe }}

        // formatted turn by turn conversation. tbt[0] = turn 1
        var tbt = {{ tbt|safe }}
        document.getElementById("annotation").innerHTML = buildAnnotation(tbt);

        function buildAnnotation(tbtConv){
            var text = "<div class='annotation'>";

            for (var index =0; index < tbtConv.length; index++) {
                text += '<span id='+(index+1)+'>' + tbtConv[index] + "</span><br />";
            }
            text += "</div>";

            return text;
        }

        g = new Dygraph(
          document.getElementById("graphdiv"),
            data,
              {
                labels: [ "Turn", "Similarity"],
                ylabel: 'Similarity',
                xlabel: 'Turn Number',
                title: 'Lexical Similarity',
                digitsAfterDecimal: 5
            }     
        );
        function unhighlight () {
            for (var index=1; index <= tbt.length; index++ ){
                document.getElementById(index).className = "";
            }
        }
        function highlight (x) {
            document.getElementById(x).className = "highlight";
        }
        g.updateOptions( {
            highlightCallback: function(event, x, points, row, seriesName) {
                unhighlight();
                var target;
                if (x > 0){
                    if ((x-1)>0 && (x-2)>0 && (x-3)>0){
                        highlight(x);
                        highlight(x-1);
                        highlight(x-2);
                        highlight(x-3);
                        target = document.getElementById(x-3);
                        target.parentNode.scrollTop = target.offsetTop;
                    }
                    else if ((x-1)>0 && (x-2)>0 && (x-3)<=0){
                        highlight(x);
                        highlight(x-1);
                        highlight(x-2);
                        target = document.getElementById(x-2);
                        target.parentNode.scrollTop = target.offsetTop;
                    }
                    else if ((x-1)>0 && (x-2)<=0 && (x-3)<=0){
                        highlight(x);
                        highlight(x-1);
                        target = document.getElementById(x-1);
                        target.parentNode.scrollTop = target.offsetTop;
                    }
                    else if ((x-1)<=0 && (x-2)<=0 && (x-3)<=0){
                        highlight(x);
                        target = document.getElementById(x);
                        target.parentNode.scrollTop = target.offsetTop;
                    }
                }
            },
            unhighlightCallback: function(event) {
                unhighlight(); 
            }
        });
    </script>
    </div>
    {{ footer|safe }}
    </body>
</html>