 <!DOCTYPE html>
<html>
<head>
    <title>Lexical Similarity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    {{ navbar|safe }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Lexical Similarity in Text-Based Communication
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum
                      neque nemo praesentium cum alias asperiores commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio
                      corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                      expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio
                      corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                      expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                    </p>
                    <p> You can now upload your files to visualize the lexical similarity in
                      your conversations. Try it today!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <a href="/visualize/graph" class= "btn btn-primary btn-lg btn-block">
                  TRY IT
                </a>
            </div>
            <div class="col-md-3">
                <a href="/visualize" class= "btn btn-default btn-lg btn-block">
                  See an Example
                </a>
            </div>
        </div>
        </div>
        <div class="themed-section">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-info"></i> 
                        &nbsp;What is Lexical Similarity
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
                        optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                        expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-book"></i>
                        &nbsp;Previous Research
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
                        optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                        expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-flask"></i>
                        &nbsp;Our Approach</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
                        optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                        expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/about#research" type="button" class="btn btn-info">Learn More</a>
            </div>
        </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">CollabLab</h1>
            </div>
            <div class="col-md-7">
                <div class="intro">
                    <p>Our current research programs span a number of areas from understanding
                      how various forms of visual information influence our social interactions
                      and developing dynamic visualizations of interaction patterns
                      in online environments to building computational models that account
                      for real-time contextual information to support interaction.
                    </p>
                    <p>Darren Gergle (Ph.D., Carnegie Mellon University) is the director of the
                      CollabLab and is a faculty member in Communication Studies and Electrical
                      Engineering &amp; Computer Science at Northwestern University.
                    </p>
                    <a href="http://collablab.northwestern.edu/" type="button" class="btn btn-default">
                      Visit Our Site
                    </a>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <img className="img-responsive" src="static/img/NU.jpg" alt="northwestern university" width="240" />
            </div>
        </div>
    </div>
    {{ footer|safe }}
</body>
</html>