 <!DOCTYPE html>
<html>
<head>
    <title>Lexical Similarity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    {{ navbar|safe }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    LexSim: A Tool for Visualizing Lexical Similarity in Text-Based Communication
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="intro">
                    <p><b>LexSim</b> is a research tool that enables researchers to study lexical similarity as it unfolds over the course of a conversation. It can currently be used on single two-person text-based conversations. In the future we aim to include options to explore more general trends in aggregate conversational dynamics, and examine differences in how similarity tracks over time across sets of groups a research may wish to compare (e.g., high trust vs. low trust groups, *need better examples here*).
                    </p>
                    <p>If you use the tool in your work, or are interested in further details in how it works, please cite or see the following publication:<br>
                    Liebman, N., &amp; Gergle, D. (2016). Capturing Turn-by-turn Lexical Similarity in Text-based Communication. <i>Proceedings of the ACM Conference on Computer-Supported Cooperative Work and Social Computing (CSCW 2016), New York: ACM Press</i>.
                    </p>
                    <p>You can now upload your own files to visualize the lexical similarity in your conversations. Try it today!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <a href="/visualize/graph" class= "btn btn-primary btn-lg btn-block">
                  TRY IT
                </a>
            </div>
            <div class="col-md-3">
                <a href="/visualize" class= "btn btn-default btn-lg btn-block">
                  See an Example
                </a>
            </div>
        </div>
        </div>
        <div class="themed-section">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-info"></i> 
                        &nbsp;What is Lexical Similarity
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>Speakers often come to use similar words during their conversation. This is known as lexical entrainment, and this similarity in word use has been shown to be associated with how much people like one another (Chartrand &amp; Bargh, 1999) as well as increased feelings of attractiveness (Nass &amp; Lee, 2000). Benefits have also been shown in technologically-mediated settings such as self-reported quality of an interaction Niederhoffer &amp; Pennebaker, 2002), trust (Scissors, Gill &amp; Gergle, 2008), and group cohesiveness (Gonzales, Hancock &amp; Pennebaker, 2010). 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-book"></i>
                        &nbsp;Previous Research
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
                        optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                        expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                        <i class="fa fa-flask"></i>
                        &nbsp;Our Approach</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
                        optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi
                        expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/about#research" type="button" class="btn btn-info">Learn More</a>
            </div>
        </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">CollabLab</h1>
            </div>
            <div class="col-md-7">
                <div class="intro">
                    <p>The CollabLab is a laboratory at Northwestern University. Our current research programs span a number of areas from understanding how various forms of visual information influence our social interactions to developing dynamic visualizations of interaction patterns in online environments to building computational models to account for real-time contextual information and support interaction.
                    </p>
                    <p>Darren Gergle (Ph.D., Carnegie Mellon University) is the director of the
                      CollabLab and is a faculty member in Communication Studies and Electrical
                      Engineering &amp; Computer Science (by courtesy) at Northwestern University.
                    </p>
                    <a href="http://collablab.northwestern.edu/" type="button" class="btn btn-default">
                      Visit Our Site
                    </a>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <img className="img-responsive" src="static/img/NU.jpg" alt="northwestern university" width="240" />
            </div>
        </div>
    </div>
    {{ footer|safe }}
</body>
</html>